<a href="#" id="closeForm" name="closeForm"> <i class="fa fa-close file-add-close"></i></a>

<h2>Загрузка документа</h2>

<table id="fileRequest" data-path="{{ path('lencor_welcome_index') }}">
    <tr>
        <td>
            Вы собираетесь загрузить:
        </td>
        <td>
            {{ requestedFile.fileName }}
        </td>
    </tr>
    <tr>
        <td>
            Проверка контрольной суммы:
        </td>
        <td>
            {% if checkPass %}
                Проверка пройдена
            {% else %}
                Ошибка проверки
            {% endif %}
        </td>
    </tr>
    <tr>
    <td colspan="2">
        Ссылка на скачивание: <br> {{ downloadLink }}
    </td>
    </tr>
    <tr>
        <td colspan="2">
            {% if checkPass %}
                <a href="{{ downloadLink }}" download>Загрузить документ</a>
            {% else %}
                Файл отсутствует или повреждён. Загрузка недоступна.
            {% endif %}
        </td>
    </tr>
</table>