{% if placeholder is defined %}
    <li class="placeholder {#border-top#}">
        <span><a href="#"><i class="fa fa-ellipsis-h"> </i></a></span>
        <span> </span>
        <span> </span>
        <span> </span>
        <span> </span>
    </li>
{% endif %}
{% if (folderTree is not empty) %}
    {% for folder in folderTree %}
        {{ include('lencor/admin/archive/archive_manager/folder.html.twig', { 'folder': folder }) }}
    {% endfor %}
{% else %}
{% endif %}