body {
  main {
    .content {
      .new-entry {
        width: 49%;
        float: left;
        padding-left: 2%;
      }
      .new-factory {
        width: 49%;
        float: right;
      }

      .new-setting {
        width: 49%;
        float: right;
      }
      table {

        width: 100%;
        td {
          &:nth-child(1) {
            float: left;
          }
          &:nth-child(2) {
            float: none;
          }
        }
      }
    }
  }
}
