body {
  main {
    .new_entry {
      width: 50%;
      float: left;
      padding-right: 15px;
    }
    .new_factory {
      width: 50%;
      float: right;
    }

    .new_setting {
      width: 50%;
      float: right;
    }
    table {

      width: 100%;
      td {
        &:nth-child(1) {
          float: left;
        }
        &:nth-child(2) {
          float: none;
        }
      }
    }
  }
}
