body .entries .open {
    color: #2c3e50;
}

body .entries .fa {
    font-size: 16px !important;
}

body .entries .fa-chevron-down {
    color: #2ca02c;
}

body .entries .fa-remove {
    color: #9a0000;
}

body .entries .fa-exclamation {
    color: #9a0000;
}

body .entries .fa-exclamation-triangle {
    color: #9a0000;;
}

body .entries .fa-check-circle-o {
    color: #2ca02c;
}

body .entries .fa-check-circle {
    color: #2ca02c;
}

body .entries .fa-user {
    color: #16527a;
}

body .entries .fa-upload {
    color: #004c96;
}

body .entries .fa-ban {
    color: #8aa4be;
}

body .entries .fa-download{
    color: #2ca02c;
}

body .entries .fa-undo {
    color: #2c3e50 !important;
}

/** Entries content block **/

body .entries .container {
    line-height: 1;
}

body .entries .container ul li a{
    color: #2c3e50 !important;
}

body .entries .container  ul {
    width: 100%;
    font-size: 14px;
    margin-bottom: 0;
    line-height: 1;
    list-style-type: none;
    margin-left: 0;
}

body .entries .container  ul li:first-child {
    /** background-color: #f9f9f9; **/
}

body .entries .container ul li:nth-child {
    background-color: #f9f9f9;
}

body .entries .container  ul li > span {
    /*display: block; */
    width: 100%;
    border: 0 solid silver;
}

body .entries tr:first-child {
    white-space: nowrap;
}

body .entries .icons a {
    font-size:16px;
    color: #2c3e50;
}

body .entries .header {
    background: #2c3e50;
    color: #ffffff;
    padding: 10px 2% 10px 2%;
    border: 1px solid silver;
    box-sizing: border-box;
}

body .entries .header li {
    display: flex;
    width:100%;
}

body .entries .header li span {
    font-size: 15px;
    font-weight: bold;
}

body .entries .content {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    padding-bottom: 10px;
}

body .entries .content table {
    width: 100%;
}

body .entries .content .dashed {
    border-bottom: 1px dashed silver;
}

body .entries .content .dashed ul {
    padding: 0;
}

body .entries .content .row {
    display: flex;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

body .entries .content .add-buttons td {
    padding: 0;
    vertical-align: middle;
}

body .entries .add-buttons {
    margin: 5px 0 0 0;
    background-color: #ffffff !important;
}

body .entries .add-buttons td {
    min-width: 12%;
    font-size: 14px;
}

body .entries .last-update {
    width: 73%;
    padding-left: 15px;
}

body .entries .placeholder {
    border-left:0 !important;
}

body .entries .border-left {
    border-left: 1px dashed silver;
}

body .entries .border-top {
    border-top: 1px dashed silver;
}

body .table-entries .loading-spinner {
    font-weight: bold;
}

body .table-entries .loading-spinner td {
    background-color: #ffffff;
    text-align: center;
    display: block;
}