{% block settings %}
    {% if settings is defined %}
        {% for setting in settings %}
            <li>
                <span>{{ setting }}</span>
                <span>
                    <a href="#"><i class="fa fa-edit"> </i></a>
                    <a href="#"><i class="fa fa-trash red"> </i></a>
                </span>
            </li>
        {% endfor %}
    {% else %}
        <li>
            <span>{{ 'factset.settings.placeholder'|trans }}</span>
        </li>
    {% endif %}
{% endblock %}