{% if entryExists %}
    {% if logRecords is not empty %}
        {% for logFile in logRecords %}
            <tr>
                <td colspan="6"><a href="{{ logsPath }}/{{ logFile }}">{{ logFile }}</a> </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6">В директории логов записи отсутствуют<td>
        </tr>
    {% endif %}
{% else %}
    <tr>
        <td colspan="6">Архивная запись не найдена</td>
    </tr>
{% endif %}
