{% if entryExists %}
    {% if logRecords is not empty %}
        {% for logFile in logRecords %}
            <a id="{{ entryId }}" class="button" name="openLog" href="#">{{ logFile }}</a>
        {% endfor %}
    {% else %}
        В директории логов записи отсутствуют
    {% endif %}
{% else %}
    Архивная запись не найдена
{% endif %}
