{% if entryExists %}
    {% if logRecords is not empty %}
        {% for logFile in logRecords %}
            <a class="button" name="openLog" id="openLog" href="{{ logsPath }}/{{ logFile }}">{{ logFile }}</a>
        {% endfor %}
    {% else %}
        В директории логов записи отсутствуют
    {% endif %}
{% else %}
    Архивная запись не найдена
{% endif %}
